html,
body {
  margin: 0;
  padding: 0;
}

.app-wrapper {
  display: flex;
  align-content: center;
}

.available {
  justify-content: center;
  align-items: center;  
  background-color: var(--bone);
}


.body {
  background-color: var(--old-lavender)
}

.p { 
  color: var(--desert-sand)
}

/* CSS Colour palette */
colours {
  --light-goldenrod-yellow: #f2f6d0ff;
  --honeydew: #d0e1d4ff;
  --bone: #d9d2b6ff;
  --desert-sand: #e4be9eff;
  --old-lavender: #71697aff;
}